.all-countries-page-header {
  background: url("../../assets/images/allCountries-header-sm.jpg") no-repeat
    center;
  -webkit-animation: kenburns-bottom 5s ease-out both;
  animation: kenburns-bottom 5s ease-out both;
  background-size: cover;
  height: 30rem;
  // display: grid;
  // place-items: center;
  position: relative;

  div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba($color: #fff, $alpha: 0.5);
    outline: 1px solid $abs-black;
    outline-offset: -0.5rem;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 50%;
    max-height: 400px;
    width: 90%;
    max-width: 800px;
    justify-content: space-evenly;
    a {
      @extend %home-page-accent-button;
      width: 50%;
      margin: auto;
      padding: 5px;
      max-width: 200px;
    }
  }
}

@media (min-width: 2000px) {
  .all-countries-page-header div {
    max-width: 1200px;
  }
}
