.city-page {
  background: linear-gradient(
    to bottom,
    rgba(160, 159, 87, 0.65) 0%,
    rgba(160, 159, 87, 0) 10%
  );
  header {
    width: 100%;
    h2 {
      color: $accent-color;
      text-align: center;
      letter-spacing: 2px;
      padding: 1rem;
      font-size: 2rem;
    }
  }
}
@import "./partials/city-info", "./partials/city-location";
