.App {
  position: relative;
}
.sidemenu-container {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 4;
  visibility: hidden;
  transition: linear all 0.3s;
  &-open {
    background-color: rgba($color: #000000, $alpha: 0.2);
    visibility: visible;
  }
}

.sidemenu {
  transform: translateX(-100vw);
  transition: linear all 0.3s;
  display: flex;
  flex-direction: column;
  width: 40%;
  max-width: 250px;
  background-color: green;
  height: 100%;
  &-routes-container {
    display: flex;
    flex-direction: column;
  }
  &-log-btns {
    display: flex;
    flex-direction: column;
  }
  &-open {
    transform: translateX(0);
  }
}
