.App {
  position: relative;
}
.sidemenu-container {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 4;
  visibility: hidden;
  transition: linear all 0.3s;
  &-open {
    background-color: rgba($color: #000000, $alpha: 0.2);
    visibility: visible;
  }
}

.sidemenu {
  transform: translateX(-100vw);
  transition: linear all 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
  max-width: 250px;
  background-color: $shade2;
  border-right: 3px solid $accent-color;
  opacity: 0.9;
  height: 100%;
  &-logo-container {
    height: 20%;
    width: 100%;
    text-align: center;
    img {
      width: 80%;
      margin: auto;
    }
  }
  &-routes-container {
    height: 40%;
    display: flex;
    flex-direction: column;
    a {
      display: flex;
      align-items: center;
      padding: 20px 10px;
      border-top: 1px solid $shade1;
      svg {
        font-size: 15px;
        margin-right: 5%;
      }
    }
    a:last-of-type {
      border-bottom: 1px solid $shade1;
    }
  }
  &-log-btns {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 10%;
    button:first-of-type {
      text-decoration: underline;
    }
    button:last-of-type {
      @extend %home-page-accent-button;
      max-width: 120px;
    }
  }
  &-open {
    transform: translateX(0);
  }
}
