.city-page-location-info {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 100%;
  max-width: 600px;
  margin: 10rem auto;
  figure {
    width: 100%;
    height: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
      box-shadow: 2px 2px 10px 2px rgba($color: #000, $alpha: 0.5);
    }
  }
}

.weather-container {
  border-image-slice: 12 12 12 12;
  border-image-width: 12px 12px 12px 12px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: repeat repeat;
  border-image-source: url("https://mdn.github.io/css-examples/tools/border-image-generator/border-image-5.png");
  border-style: solid;
  width: 100%;
  height: fit-content;
  text-align: center;
  padding: 1rem;

  button {
    width: 100%;
    margin: auto;
    background-color: #97bde1;
    color: $abs-white;
    letter-spacing: 2px;
    border-radius: 5px;
    padding: 0.1rem;
  }
  img {
    width: 7rem;
    margin: auto;
  }
}
.default-view {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20%;
    padding: 3rem 0;
    width: 90%;
    margin: auto;
  }
}
#local-time {
  position: absolute;
  left: 5%;
  top: 5%;
  font-size: 0.7rem;
  span {
    display: block;
    font-size: 0.8rem;
  }
}

.forecast-view div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  article {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 15rem;
    padding: 0.5rem 0;
    border-bottom: #97bde1 2px dashed;
  }
  article:last-of-type {
    border: none;
  }
}
#weather-date {
  position: absolute;
  right: 5%;
  top: 25%;
  font-size: 0.7rem;
  span {
    display: block;
    font-size: 0.8rem;
  }
}

@media (min-width: 768px) {
  .city-page-location-info {
    flex-direction: row;
    justify-content: space-between;
    max-width: 900px;

    figure {
      width: 65%;
      height: 100%;
    }
    .weather-container {
      width: 30%;
    }
  }
}

@media (min-width: 1600px) {
  .city-page-location-info {
    max-width: 100rem;
  }
}
