@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap");
.navbar-log-btns button:last-of-type, .sidemenu-log-btns button:last-of-type, .footer-socials-container .newsletter button, .hero-content-title button, .home-pricing-container #accent-btn, .all-countries-page-header div a {
  border: 3px solid #c56824;
  background-color: #c56824;
  padding: 1rem 1.5rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s all linear;
}

.navbar-log-btns button:hover:last-of-type, .sidemenu-log-btns button:hover:last-of-type, .footer-socials-container .newsletter button:hover, .hero-content-title button:hover, .home-pricing-container #accent-btn:hover, .all-countries-page-header div a:hover {
  background-color: transparent;
  color: #c56824;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "Barlow", sans-serif;
  width: 100%;
  background-color: #eaeaea;
}

body,
#root,
.App {
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  color: #222831;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

h4,
h5 {
  font-size: 1.3rem;
}

p,
button,
a,
span {
  font-size: 1.3rem;
  color: #393e46;
}

li {
  list-style-type: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a :visited {
  color: inherit;
}

.response {
  text-align: center;
  padding: 5rem;
  margin: auto;
}

.navigation {
  width: 100%;
  height: 100%;
}

.navbar {
  position: absolute;
  top: 0;
  display: flex;
  display: none;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  padding: 10px 20px;
  z-index: 9;
}

.navbar-logo-container {
  width: 20%;
}

.navbar-routes-container {
  width: 40%;
}

.navbar-logo-container img {
  width: 100%;
  max-width: 200px;
}

.navbar-routes-container {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

.navbar-log-btns {
  display: flex;
  justify-content: flex-end;
}

.navbar-log-btns button {
  width: 130px;
  padding: 5px;
}

.navbar-log-btns button:first-of-type {
  text-decoration: underline;
  letter-spacing: 0.5px;
}

.navbar-log-btns button:last-of-type {
  padding: 15px 10px;
  margin-left: 0.8rem;
}

.App {
  position: relative;
}

.sidemenu-container {
  height: 100%;
  width: 100%;
  transform: translateX(-100vw);
  position: fixed;
  z-index: 4;
}

.sidemenu-container-open {
  background-color: rgba(0, 0, 0, 0.2);
  transform: translateX(0);
}

.sidemenu {
  transform: translateX(-100vw);
  transition: linear all 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
  max-width: 250px;
  background-color: #e5dcc3;
  border-right: 3px solid #c56824;
  opacity: 0.9;
  height: 100%;
}

.sidemenu-logo-container {
  height: 20%;
  width: 100%;
  text-align: center;
}

.sidemenu-logo-container img {
  width: 80%;
  margin: auto;
}

.sidemenu-routes-container {
  height: 40%;
  display: flex;
  flex-direction: column;
}

.sidemenu-routes-container a {
  display: flex;
  align-items: center;
  padding: 20px 10px;
  border-top: 1px solid #c7bea2;
}

.sidemenu-routes-container a svg {
  font-size: 15px;
  margin-right: 5%;
  color: #a09f57;
}

.sidemenu-routes-container a:last-of-type {
  border-bottom: 1px solid #c7bea2;
}

.sidemenu-log-btns {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 10%;
}

.sidemenu-log-btns button:first-of-type {
  text-decoration: underline;
}

.sidemenu-log-btns button:last-of-type {
  max-width: 120px;
}

.sidemenu-open {
  transform: translateX(0);
}

.menu-btn {
  position: fixed;
  top: 30px;
  right: 30px;
  font-size: 25px;
  cursor: pointer;
  z-index: 5;
  color: #c56824;
}

.menu-btn-cross {
  color: #b42727;
}

footer {
  background-color: #1e1e1e;
  padding: 1rem 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer,
footer button,
footer input,
footer p,
footer div {
  color: white;
}

.footer-containers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo-container {
  width: 100%;
  text-align: center;
}

.footer-logo-container img {
  width: 100%;
  max-width: 20rem;
}

.footer-navigation-container {
  margin: 1rem 0;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.footer-navigation-container article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 12rem;
}

.footer-navigation-container article::before {
  content: attr(aria-label);
  color: #c56824;
  font-weight: 700;
  font-size: 1.4rem;
}

.footer-socials-container {
  background-color: inherit;
  margin: 1.5rem 0;
}

.footer-socials-container::before {
  content: attr(aria-label);
  color: #c56824;
  font-weight: 700;
  font-size: 1.4rem;
}

.footer-socials-container .newsletter {
  margin: 1rem 0;
  display: flex;
  width: 100%;
}

.footer-socials-container .newsletter input {
  width: 60%;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  background-color: transparent;
}

.footer-socials-container .newsletter input:focus {
  outline: none;
}

.footer-socials-container .newsletter input::placeholder {
  color: #aaa;
}

.footer-socials-container .newsletter button {
  width: 40%;
  padding: 10px 5px;
}

.footer-socials-container .socials {
  width: 40%;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

.footer-socials-container .socials i svg {
  font-size: 1.5rem;
  cursor: pointer;
}

.footer-socials-container .socials i svg:hover {
  opacity: 0.6;
}

.disclaimer p {
  font-size: 0.7rem;
  margin-top: 1rem;
  text-align: center;
}

@media (min-width: 768px) {
  /* FOOTER */
  .footer-containers {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 2rem 0.5rem;
  }
  .footer-logo-container {
    width: 20%;
  }
  .footer-navigation-container {
    width: 45%;
    margin: 0;
  }
  .footer-socials-container {
    width: 35%;
    margin: 0;
  }
  .footer-socials-container #newsletter-subscribe-btn {
    font-size: 1rem;
    max-width: 200px;
  }
}

@media (min-width: 768px) {
  /* Sidemenu to Navbar */
  .navbar {
    display: flex;
  }
  .sidemenu-container,
  .menu-btn {
    display: none;
  }
}

@media (min-width: 2000px) {
  .navbar-log-btns button {
    width: 200px;
  }
}

.pages {
  padding-top: 80px;
}

.home-page {
  display: flex;
  flex-direction: column;
  position: relative;
}

.home-page-hero {
  height: 100vh;
  position: absolute;
  top: -80px;
}

.home-page-features {
  height: 33%;
  padding-top: 110vh;
}

.home-page-pricing {
  height: 33%;
}

.home-page-hero {
  background-image: url("../../assets/images/hero2-bg-sm.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.hero-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.hero-content-title {
  animation: fade-in-left 1.2s ease backwards;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 75%;
  margin: auto;
  position: relative;
}

.hero-content-title::after {
  animation: slide-tr 1s linear both;
  animation-delay: 0.5s;
  content: url("../../assets/images/plane-bg.png");
  position: absolute;
  bottom: 70%;
  left: 0;
  right: 0;
  mix-blend-mode: soft-light;
  margin: auto;
}

.hero-content-title h1 {
  width: 70%;
  margin: 0 auto;
  font-size: 2.6rem;
  position: relative;
}

.hero-content-title h1::after {
  content: "";
  position: absolute;
  bottom: -2rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 2px;
  background-color: rgba(207, 207, 247, 0.137);
}

.hero-content-title p {
  line-height: 1.3;
  width: 90%;
  margin: 0 auto;
  max-width: 900px;
}

.hero-content-images {
  position: relative;
  width: 100%;
  text-align: center;
}

.hero-content-images img:first-of-type {
  animation: fade-in-right 0.6s ease both;
  display: none;
}

.hero-content-images img:last-of-type {
  animation: fade-in-right 0.6s linear both;
  animation-delay: 0.5s;
  position: absolute;
  width: 90%;
  left: 0;
  right: 0;
  bottom: -100px;
  max-width: 250px;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 0 20px 20px 2px rgba(0, 0, 0, 0.3);
}

.hero-companies {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  display: none;
}

.hero-companies img {
  animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  width: 20%;
  max-width: 200px;
  mix-blend-mode: luminosity;
}

.home-page-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.home-page-features .features-title {
  padding: 0 1rem 2rem 1rem;
  max-width: 600px;
}

.home-page-features .features-title h2 {
  padding-bottom: 1rem;
}

.home-page-features .features-img {
  width: 100%;
}

.home-page-features .features-img img {
  width: 90%;
  max-width: 600px;
  border-top: 1rem inset #c56824;
  border-right: 0.5rem inset #a09f57;
  border-bottom: 1rem inset #c56824;
  border-left: 0.5rem inset #a09f57;
}

.features-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 2rem;
  height: 900px;
  max-width: 300px;
}

.features-container .feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 250px;
  padding: 10px;
  max-width: 300px;
}

.features-container .feature svg {
  color: #a09f57;
  font-size: 3rem;
}

.features-container .feature h4 {
  color: #a09f57;
  padding: 0.5rem 0;
}

.home-page-pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.home-page-pricing header {
  margin-bottom: 1rem;
  text-align: center;
}

.home-page-pricing header p {
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.home-page-pricing header h2 {
  letter-spacing: 1px;
}

.home-pricing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.home-pricing-container article {
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin: 2.5rem 1rem;
  text-align: center;
  width: 200px;
}

.home-pricing-container article p {
  color: #a09f57;
  font-size: 0.7rem;
  padding: 5px 0;
}

.home-pricing-container article i {
  background-color: #dadada;
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
  margin: auto;
  display: flex;
  place-items: center;
  justify-content: center;
  margin: 2rem auto;
}

.home-pricing-container article i svg {
  font-size: 4rem;
  color: #888;
}

.home-pricing-container article button {
  font-weight: 600;
  margin: 0 auto 2rem auto;
  color: #c56824;
}

.home-pricing-container article ul li {
  margin: 0.5rem 0;
}

.home-pricing-container article .not-offered {
  text-decoration: line-through;
  color: #a09f57;
}

.home-pricing-container #accent-btn {
  text-transform: none;
  margin-top: -1rem;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  /* HOME HERO */
  .hero-content {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    max-width: 1600px;
    margin: auto;
  }
  .hero-content-title {
    text-align: left;
    padding-left: 1rem;
    height: 50%;
  }
  .hero-content-title::after {
    bottom: 75%;
    left: -10%;
  }
  .hero-content-title h1 {
    margin: 0;
    letter-spacing: 1.5px;
  }
  .hero-content-title p {
    width: 85%;
    margin: 0;
  }
  .hero-content-images {
    height: 60%;
    position: relative;
    max-width: 700px;
  }
  .hero-content-images::before {
    animation: fade-in-low-opacity 1.2s ease both;
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0;
    width: 150px;
    height: 60%;
    background-color: #a09f57;
    opacity: 0.3;
    border-radius: 15px;
  }
  .hero-content-images img:first-of-type {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 90%;
    max-width: 600px;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 2px rgba(255, 255, 255, 0.3);
  }
  .hero-content-images img:last-of-type {
    margin: 0;
    left: -65px;
    bottom: -1rem;
    box-shadow: none;
    border-radius: 20px;
    max-width: 300px;
  }
  .hero-companies {
    display: flex;
  }
  /* HOME FEATURES */
  .features-container {
    flex-flow: row wrap;
    justify-content: space-between;
    height: 600px;
    max-width: 700px;
  }
  .features-container .feature {
    height: 350px;
  }
  /* HOME PRICING */
  .home-page-pricing {
    width: 100%;
    max-width: 1600px;
    margin: 10rem auto 5rem auto;
  }
  .home-pricing-container {
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }
  .home-pricing-container article {
    width: 25%;
  }
  .home-pricing-container article #accent-btn {
    padding: 1rem 0.2rem;
  }
}

@media (min-width: 1300px) {
  .features-img {
    padding: 2rem 0;
  }
  .features-container {
    width: 100%;
    max-width: 1000px;
  }
  .features-container .feature {
    height: fit-content;
    max-width: 400px;
  }
}

@media (min-width: 2000px) {
  /* Home Features */
  .features-container {
    flex-flow: row wrap;
    justify-content: space-between;
    height: 900px;
    max-width: 1000px;
  }
  .features-container .feature {
    height: 350px;
    max-width: 400px;
  }
}

.all-countries-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.all-countries-page-header {
  background: url("../../assets/images/allCountries-header-sm.jpg") no-repeat center;
  animation: kenburns-bottom 5s ease-out both;
  background-size: cover;
  height: 30rem;
  position: relative;
}

.all-countries-page-header div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.5);
  outline: 1px solid #000;
  outline-offset: -0.5rem;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 50%;
  max-height: 400px;
  width: 90%;
  max-width: 800px;
  justify-content: space-evenly;
}

.all-countries-page-header div a {
  width: 50%;
  margin: auto;
  padding: 5px;
  max-width: 200px;
}

@media (min-width: 2000px) {
  .all-countries-page-header div {
    max-width: 1200px;
  }
}

.all-countries-page-filters {
  height: 11rem;
  background: linear-gradient(to bottom, #e5dcc3 0%, rgba(255, 255, 255, 0) 100%);
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.all-countries-page-filters label {
  background-color: #c56824;
  padding: 0.8rem;
  border-radius: 10px 0 0 10px;
}

.all-countries-page-filters label:last-child {
  border-radius: 0 10px 10px 0;
}

.filter-search {
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
  margin: auto;
  position: relative;
  width: 80%;
  max-width: 600px;
}

.filter-search input {
  padding: 5px 0px 5px 15px;
  background-color: transparent;
  border: none;
  width: 70%;
}

.filter-search input::placeholder {
  font-size: 0.8rem;
}

.filter-search input:focus {
  outline: none;
}

.filter-search svg {
  position: absolute;
  right: 0;
  font-size: 2rem;
  opacity: 0.2;
}

.filter-btns {
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-between;
  max-width: 900px;
}

.filter-btns-sort {
  display: flex;
  align-items: center;
}

.filter-btns-sort select {
  padding: 0.8rem;
  outline: none;
  border: none;
  background-color: transparent;
  width: 70%;
  max-width: 600px;
  font-size: 1rem;
  cursor: pointer;
}

.filter-btns-layout {
  display: flex;
  align-items: center;
}

.filter-btns-layout .btns-container {
  display: flex;
  align-items: center;
  width: 4rem;
  padding-top: 4px;
  justify-content: space-evenly;
}

.filter-btns-layout .btns-container svg {
  font-size: 1.5rem;
}

@media (min-width: 2000px) {
  .filter-search {
    max-width: 900px;
  }
  .filter-btns {
    max-width: 1200px;
  }
}

.all-countries-page-countries {
  width: 100%;
  background: url("../../assets/images/countries-parallax-bg-sm.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

.countries-flex-container {
  display: flex;
  justify-content: center;
  max-width: 900px;
  flex-flow: row wrap;
  margin: 2rem auto;
}

.country {
  margin: 2rem;
  max-width: 250px;
  width: 95%;
  transition: linear all 0.2s;
  box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.country:hover {
  transform: scale(0.98);
}

.country-card {
  position: relative;
  height: 17rem;
  border-radius: inherit;
  margin: auto;
}

.country-card .country-img-division {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.country-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.country-card h3 {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 2.4rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  width: fit-content;
  padding: 0.3rem;
  border-radius: 10px 0 10px 0;
}

.country-card p {
  display: none;
}

.countries-alternative-layout {
  flex-flow: column nowrap;
  align-items: center;
}

.countries-alternative-layout .country {
  max-width: 500px;
}

.alternative-layout {
  height: 15rem;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.alternative-layout .country-img-division {
  transform: rotateZ(-90deg);
  width: 55%;
  max-width: 9rem;
  height: 60%;
}

.alternative-layout .country-img-division img {
  transform: translateX(-40%);
  border-radius: 10px 10px 0 0;
  width: 168%;
}

.alternative-layout .country-info-division {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10%;
  width: 85%;
}

.alternative-layout .country-info-division h3 {
  padding-left: 0.7rem;
  position: static;
  width: 100%;
  border-radius: 0 9px 0 0;
}

.alternative-layout .country-info-division p {
  padding-left: 0.7rem;
  display: block;
}

.alternative-layout .country-info-division p span {
  font-weight: 700;
}

@media (min-width: 768px) {
  .all-countries-page-countries {
    background-image: url("../../assets/images/countries-parallax-bg.jpg");
  }
  .country {
    max-width: 350px;
  }
  .country-card {
    height: 15rem;
  }
  .countries-alternative-layout .country {
    max-width: 700px;
  }
}

@media (min-width: 2000px) {
  .countries-flex-container {
    max-width: 1200px;
  }
  .country {
    max-width: 450px;
  }
  .countries-alternative-layout .country {
    max-width: 900px;
  }
}

@media (min-width: 768px) {
  /****************************
  ALL COUNTRIES PAGE
  ****************************/
  .all-countries-page-header {
    background-image: url("../../assets/images/allCountries-header.jpg");
  }
  .all-countries-page-header h2 {
    font-size: 2.5rem;
    letter-spacing: 1px;
  }
}

.single-country-page header {
  background: url("../../assets/images/singleCountry-header-sm.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 30rem;
}

.single-country-page header .img-opacity-container {
  width: 100%;
  height: 100%;
  display: flex;
  background: rgba(0, 0, 0, 0.5);
}

.single-country-page header .img-opacity-container .country-card {
  opacity: 0.8;
  width: 90%;
  max-width: 50rem;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.5);
}

@media (min-width: 768px) {
  .single-country-page header {
    background-image: url("../../assets/images/singleCountry-header.jpg");
  }
}

.ticketmaster-events {
  width: 80%;
  margin: 0 auto 2rem auto;
  text-align: center;
  max-width: 75rem;
  background-color: #e5dcc3;
  border-right: 0.9rem inset #a09f57;
  border-bottom: 0.9rem outset #c56824;
  border-left: 0.9rem outset #a09f57;
  box-shadow: 2px 6px 10px 1px rgba(0, 0, 0, 0.5);
}

.ticketmaster-events h2 {
  padding: 1rem 0;
  position: relative;
}

.ticketmaster-events h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 30%;
  height: 3px;
  background-color: #c56824;
}

.ticketmaster-events .slider-container {
  margin: 0 auto;
  width: 100%;
  height: 31rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.ticketmaster-events .prev,
.ticketmaster-events .next {
  position: absolute;
  top: 0;
  height: 100%;
  display: grid;
  place-items: center;
  font-size: 2rem;
  cursor: pointer;
  color: #c56824;
  background-color: #e5dcc3;
  transition: linear opacity 0.1s;
}

.ticketmaster-events .prev:hover,
.ticketmaster-events .next:hover {
  color: #a09f57;
}

.ticketmaster-events .prev {
  left: 0;
}

.ticketmaster-events .next {
  right: 0;
}

.ticketmaster-events article {
  position: absolute;
  top: 0;
  left: 5%;
  width: 90%;
  height: 100%;
  opacity: 0;
  transition: transform linear 0.2s, opacity linear 0.5s;
}

.ticketmaster-events article h5 {
  padding: 0.8rem 0;
  width: 85%;
  margin: auto;
  overflow-wrap: break-word;
  hyphens: auto;
}

.ticketmaster-events article div {
  width: 80%;
  max-width: 600px;
  margin: auto;
  height: 70%;
}

.ticketmaster-events article div img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ticketmaster-events article p {
  opacity: 0.6;
}

.ticketmaster-events article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}

.ticketmaster-events article.activeSlide a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.ticketmaster-events article.lastSlide {
  transform: translateX(-50%);
}

.ticketmaster-events article.nextSlide {
  transform: translateX(50%);
}

@media (min-width: 900px) {
  article.activeSlide {
    z-index: 9;
  }
  article.lastSlide,
  article.nextSlide {
    opacity: 0.15;
  }
}

.country-cities {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 2600px;
  margin: 10rem auto;
}

.country-cities h2 {
  font-size: 2rem;
}

.cities-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.city {
  margin: 1.2rem;
  width: 95%;
  max-width: 25rem;
  height: 17rem;
  border-radius: 10px;
  position: relative;
  transition: linear all 0.2s;
  box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.2);
}

.city:hover {
  transform: scale(0.98);
}

.city img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.city h3 {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.8rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  width: fit-content;
  padding: 0.3rem;
  border-radius: 10px 0 10px 0;
  letter-spacing: 1px;
}

@media (min-width: 768px) {
  .cities-container {
    flex-direction: row;
  }
}

.city-page {
  background: linear-gradient(to bottom, rgba(160, 159, 87, 0.65) 0%, rgba(160, 159, 87, 0) 10%);
}

.city-page header {
  width: 100%;
}

.city-page header h2 {
  color: #c56824;
  text-align: center;
  letter-spacing: 2px;
  padding: 1rem;
  font-size: 2rem;
}

.city-page-city-info {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 600px;
  margin: 5rem auto;
  background-color: #e5dcc3;
  border-radius: 20px;
}

.city-images-container {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background-color: #dddddd;
}

.city-images-container #displayImg {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.city-images-container .img-indicators-container {
  display: flex;
  justify-content: space-between;
  height: 30%;
  padding-top: 1rem;
}

.city-images-container .img-indicators-container img {
  height: 100%;
  width: 33.33%;
  object-fit: cover;
  transition: all 0.3s linear;
  cursor: pointer;
}

.city-images-container .img-indicators-container img:first-of-type {
  border-radius: 0 0 0 20px;
  border-right: 3px solid #a09f57;
}

.city-images-container .img-indicators-container img:last-of-type {
  border-radius: 0 0 20px 0;
  border-left: 3px solid #a09f57;
}

.city-images-container .indicator {
  opacity: 0.3;
}

.city-images-container .indicator:hover {
  opacity: 0.9;
}

.city-images-container .current-image {
  opacity: 1;
}

.city-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 200px;
}

.city-info h4 {
  font-size: 2rem;
  letter-spacing: 1px;
}

.city-info span {
  font-weight: 600;
}

@media (min-width: 992px) {
  .city-page-city-info {
    max-width: 80rem;
    flex-direction: row;
    align-items: center;
  }
  .city-images-container {
    border-radius: 20px 0 0 20px;
    width: 70%;
    height: 40rem;
  }
  .city-images-container #displayImg {
    border-radius: 20px 0 0 0;
  }
  .city-images-container .img-indicators-container img {
    width: 30%;
  }
  .city-images-container .img-indicators-container img:first-of-type {
    border-width: 0;
  }
  .city-images-container .img-indicators-container img:last-of-type {
    border-width: 0;
    border-radius: 0 0 0 0;
  }
  .city-info {
    width: 30%;
    height: 40rem;
    line-height: 1.5;
  }
}

.city-page-location-info {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 100%;
  max-width: 600px;
  margin: 10rem auto;
}

.city-page-location-info figure {
  width: 100%;
  height: 100%;
}

.city-page-location-info figure img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
}

.weather-container {
  animation: scale-in-center 0.5s linear both;
  border-image-slice: 12 12 12 12;
  border-image-width: 12px 12px 12px 12px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: repeat repeat;
  border-image-source: url("https://mdn.github.io/css-examples/tools/border-image-generator/border-image-5.png");
  border-style: solid;
  width: 100%;
  height: fit-content;
  text-align: center;
  padding: 1rem;
}

.weather-container button {
  width: 100%;
  margin: auto;
  background-color: #97bde1;
  color: #fff;
  letter-spacing: 2px;
  border-radius: 5px;
  padding: 0.1rem;
}

.weather-container img {
  width: 7rem;
  margin: auto;
}

.default-view {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}

.default-view article {
  animation: scale-in-ver-center 0.8s linear both;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20%;
  padding: 3rem 0;
  width: 90%;
  margin: auto;
}

#local-time {
  position: absolute;
  left: 5%;
  top: 5%;
  font-size: 0.7rem;
}

#local-time span {
  display: block;
  font-size: 0.8rem;
}

.forecast-view {
  animation: scale-in-ver-center 0.8s linear both;
}

.forecast-view div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.forecast-view div article {
  animation: scale-in-ver-center 0.8s linear both;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 15rem;
  padding: 0.5rem 0;
  border-bottom: #97bde1 2px dashed;
}

.forecast-view div article:last-of-type {
  border: none;
}

#weather-date {
  position: absolute;
  right: 5%;
  top: 25%;
  font-size: 0.7rem;
}

#weather-date span {
  display: block;
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  .city-page-location-info {
    flex-direction: row;
    justify-content: space-between;
    max-width: 900px;
  }
  .city-page-location-info figure {
    width: 65%;
    height: 100%;
  }
  .city-page-location-info .weather-container {
    width: 30%;
  }
}

@media (min-width: 1600px) {
  .city-page-location-info {
    max-width: 100rem;
  }
}

#mobile-logo {
  position: absolute;
  top: 30px;
  left: 20px;
}

#mobile-logo img {
  width: 100px;
}

@media (min-width: 768px) {
  #mobile-logo {
    display: none;
  }
}

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */

@keyframes fade-in-low-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.3;
  }
}

/**
 * ----------------------------------------
 * animation fade-in-left
 * ----------------------------------------
 */

@keyframes fade-in-left {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation fade-in-right
 * ----------------------------------------
 */

@keyframes fade-in-right {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation slide-tr
 * ----------------------------------------
 */

@keyframes slide-tr {
  0% {
    transform: translateY(100vw) translateX(-100vw);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}

/**
 * ----------------------------------------
 * animation flip-in-hor-bottom
 * ----------------------------------------
 */

@keyframes flip-in-hor-bottom {
  0% {
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation kenburns-bottom
 * ----------------------------------------
 */

@keyframes kenburns-bottom {
  0% {
    transform: scale(1) translateY(0);
    transform-origin: 50% 84%;
  }
  100% {
    transform: scale(1.25) translateY(15px);
    transform-origin: bottom;
  }
}

/**
 * ----------------------------------------
 * animation scale-in-ver-center
 * ----------------------------------------
 */

@keyframes scale-in-ver-center {
  0% {
    transform: scaleY(0);
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}

@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */

@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 2000px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 3000px) {
  html {
    font-size: 24px;
  }
}
