@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap");
.navbar-log-btns button:last-of-type, .sidemenu-log-btns button:last-of-type, .hero-content-title button, .home-pricing-container #accent-btn {
  border: 3px solid #c56824;
  background-color: #c56824;
  padding: 1rem 1.5rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s all linear;
}

.navbar-log-btns button:hover:last-of-type, .sidemenu-log-btns button:hover:last-of-type, .hero-content-title button:hover, .home-pricing-container #accent-btn:hover {
  background-color: transparent;
  color: #c56824;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "Barlow", sans-serif;
  width: 100%;
  background-color: #eaeaea;
}

body,
#root,
.App {
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  color: #222831;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3,
h4,
h5 {
  font-size: 1.3rem;
}

p,
button,
a,
span {
  font-size: 1.3rem;
  color: #393e46;
}

li {
  list-style-type: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a :visited {
  color: inherit;
}

img {
  width: 50px;
}

.navigation {
  width: 100%;
  height: 100%;
}

.navbar {
  position: absolute;
  top: 0;
  display: flex;
  display: none;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  padding: 10px 20px;
  z-index: 9;
}

.navbar-logo-container {
  width: 20%;
}

.navbar-routes-container {
  width: 40%;
}

.navbar-logo-container img {
  width: 100%;
  max-width: 200px;
}

.navbar-routes-container {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

.navbar-log-btns {
  display: flex;
  justify-content: flex-end;
}

.navbar-log-btns button {
  width: 130px;
  padding: 5px;
}

.navbar-log-btns button:first-of-type {
  text-decoration: underline;
  letter-spacing: 0.5px;
  margin-right: 2%;
}

.navbar-log-btns button:last-of-type {
  padding: 15px 10px;
}

.App {
  position: relative;
}

.sidemenu-container {
  height: 100%;
  width: 100%;
  transform: translateX(-100vw);
  position: fixed;
  z-index: 4;
}

.sidemenu-container-open {
  background-color: rgba(0, 0, 0, 0.2);
  transform: translateX(0);
}

.sidemenu {
  transform: translateX(-100vw);
  transition: linear all 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
  max-width: 250px;
  background-color: #e5dcc3;
  border-right: 3px solid #c56824;
  opacity: 0.9;
  height: 100%;
}

.sidemenu-logo-container {
  height: 20%;
  width: 100%;
  text-align: center;
}

.sidemenu-logo-container img {
  width: 80%;
  margin: auto;
}

.sidemenu-routes-container {
  height: 40%;
  display: flex;
  flex-direction: column;
}

.sidemenu-routes-container a {
  display: flex;
  align-items: center;
  padding: 20px 10px;
  border-top: 1px solid #c7bea2;
}

.sidemenu-routes-container a svg {
  font-size: 15px;
  margin-right: 5%;
  color: #a09f57;
}

.sidemenu-routes-container a:last-of-type {
  border-bottom: 1px solid #c7bea2;
}

.sidemenu-log-btns {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 10%;
}

.sidemenu-log-btns button:first-of-type {
  text-decoration: underline;
}

.sidemenu-log-btns button:last-of-type {
  max-width: 120px;
}

.sidemenu-open {
  transform: translateX(0);
}

.menu-btn {
  position: fixed;
  top: 30px;
  right: 30px;
  font-size: 25px;
  cursor: pointer;
  z-index: 5;
  color: #c56824;
}

.menu-btn-cross {
  color: #b42727;
}

.pages {
  padding-top: 80px;
}

.home-page {
  display: flex;
  flex-direction: column;
  position: relative;
}

.home-page-hero {
  height: 100vh;
  position: absolute;
  top: -80px;
}

.home-page-features {
  height: 33%;
  padding-top: 110vh;
}

.home-page-pricing {
  height: 33%;
}

.home-page-hero {
  background-image: url("../../assets/images/hero2-bg-sm.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.hero-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.hero-content-title {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 75%;
  margin: auto;
  position: relative;
}

.hero-content-title::after {
  content: url("../../assets/images/plane-bg.png");
  position: absolute;
  bottom: 70%;
  left: 0;
  right: 0;
  mix-blend-mode: soft-light;
  margin: auto;
}

.hero-content-title h1 {
  width: 70%;
  margin: 0 auto;
  font-size: 2.4rem;
  position: relative;
}

.hero-content-title h1::after {
  content: "";
  position: absolute;
  bottom: -2rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 2px;
  background-color: rgba(207, 207, 247, 0.137);
}

.hero-content-title p {
  line-height: 1.3;
  width: 90%;
  margin: 0 auto;
  max-width: 900px;
}

.hero-content-images {
  position: relative;
  width: 100%;
  text-align: center;
}

.hero-content-images img:first-of-type {
  display: none;
}

.hero-content-images img:last-of-type {
  position: absolute;
  width: 90%;
  left: 0;
  right: 0;
  bottom: -100px;
  max-width: 250px;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 0 20px 20px 2px rgba(0, 0, 0, 0.3);
}

.hero-companies {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  display: none;
}

.hero-companies img {
  width: 20%;
  max-width: 200px;
  mix-blend-mode: luminosity;
}

.home-page-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.home-page-features .features-title {
  padding: 0 1rem 2rem 1rem;
  max-width: 600px;
}

.home-page-features .features-title h2 {
  padding-bottom: 1rem;
}

.home-page-features .features-img {
  width: 100%;
}

.home-page-features .features-img img {
  width: 90%;
  max-width: 600px;
  border-top: 1rem inset #c56824;
  border-right: 0.5rem inset #a09f57;
  border-bottom: 1rem inset #c56824;
  border-left: 0.5rem inset #a09f57;
}

.features-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 2rem;
  height: 900px;
  max-width: 300px;
}

.features-container .feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 250px;
  padding: 10px;
  max-width: 300px;
}

.features-container .feature svg {
  color: #a09f57;
  font-size: 3rem;
}

.features-container .feature h4 {
  color: #a09f57;
  padding: 0.5rem 0;
}

.home-page-pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.home-page-pricing header {
  margin-bottom: 1rem;
  text-align: center;
}

.home-page-pricing header p {
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.home-page-pricing header h2 {
  letter-spacing: 1px;
}

.home-pricing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.home-pricing-container article {
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin: 2.5rem 1rem;
  text-align: center;
  width: 200px;
}

.home-pricing-container article p {
  color: #a09f57;
  font-size: 0.7rem;
  padding: 5px 0;
}

.home-pricing-container article i {
  background-color: #dadada;
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
  margin: auto;
  display: flex;
  place-items: center;
  justify-content: center;
  margin: 2rem auto;
}

.home-pricing-container article i svg {
  font-size: 4rem;
  color: #888;
}

.home-pricing-container article button {
  font-weight: 600;
  margin: 0 auto 2rem auto;
  color: #c56824;
}

.home-pricing-container article ul li {
  margin: 0.5rem 0;
}

.home-pricing-container article .not-offered {
  text-decoration: line-through;
  color: #a09f57;
}

.home-pricing-container #accent-btn {
  text-transform: none;
  margin-top: -1rem;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
  /* Sidemenu to Navbar */
  .navbar {
    display: flex;
  }
  .sidemenu-container,
  .menu-btn {
    display: none;
  }
  /* HOME HERO */
  .hero-content {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    max-width: 1600px;
    margin: auto;
  }
  .hero-content-title {
    text-align: left;
    padding-left: 1rem;
    height: 50%;
  }
  .hero-content-title::after {
    bottom: 75%;
    left: -10%;
  }
  .hero-content-title h1 {
    margin: 0;
    letter-spacing: 1.5px;
  }
  .hero-content-title p {
    width: 85%;
    margin: 0;
  }
  .hero-content-images {
    height: 60%;
    position: relative;
    max-width: 700px;
  }
  .hero-content-images::before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0;
    width: 150px;
    height: 60%;
    background-color: #a09f57;
    opacity: 0.3;
    border-radius: 15px;
  }
  .hero-content-images img:first-of-type {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 90%;
    max-width: 600px;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 2px rgba(255, 255, 255, 0.3);
  }
  .hero-content-images img:last-of-type {
    margin: 0;
    left: -65px;
    bottom: -1rem;
    box-shadow: none;
    border-radius: 20px;
    max-width: 300px;
  }
  .hero-companies {
    display: flex;
  }
  /* HOME FEATURES */
  .features-container {
    flex-flow: row wrap;
    justify-content: space-between;
    height: 600px;
    max-width: 700px;
  }
  .features-container .feature {
    height: 350px;
  }
  /* HOME PRICING */
  .home-page-pricing {
    width: 100%;
    max-width: 1600px;
    margin: 10rem auto 5rem auto;
  }
  .home-pricing-container {
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }
  .home-pricing-container article {
    width: 25%;
  }
  .home-pricing-container article #accent-btn {
    padding: 1rem 0.2rem;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 1300px) {
  .features-img {
    padding: 2rem 0;
  }
  .features-container {
    width: 100%;
    max-width: 1000px;
  }
  .features-container .feature {
    height: fit-content;
    max-width: 400px;
  }
}

@media (min-width: 2000px) {
  html {
    font-size: 20px;
  }
  .navbar-log-btns button {
    width: 200px;
  }
  /* Home Features */
  .features-container {
    flex-flow: row wrap;
    justify-content: space-between;
    height: 900px;
    max-width: 1000px;
  }
  .features-container .feature {
    height: 350px;
    max-width: 400px;
  }
}

@media (min-width: 3000px) {
  html {
    font-size: 24px;
  }
}
