.home-page {
  display: flex;
  flex-direction: column;
  position: relative;
  &-hero {
    height: 100vh;
    position: absolute;
    top: -80px;
  }
  &-features {
    height: 33%;
    padding-top: 100vh;
  }
  &-pricing {
    height: 33%;
  }
}
@import "./partials/homeHero", "./partials/homeFeatures",
  "./partials/homePricing";
